.popper {
  color: #353535;
  font-family: "PT Sans", sans-serif;
  min-width: 100px;
  position: absolute;
  width: auto;
  z-index: 5;
  /*opacity: 0.9;*/
}

.popper-arrow {
  width: 0;
  height: 0;
  position: absolute;
  border: 5px solid transparent;
}

.popper[x-placement="bottom"] .popper-arrow {
  top: -5px;
  left: calc(50% - 5px);
  border-bottom-color: #e2e2e2;
  border-top-width: 0;
  margin: 0 5px;
}

.popper[x-placement="top"] .popper-arrow {
  bottom: -5px;
  left: calc(50% - 5px);
  border-top-color: #e2e2e2;
  border-bottom-width: 0;
  margin: 0 5px;
}

.popper[x-placement="left"] .popper-arrow {
  right: -5px;
  top: calc(50% - 5px);
  border-left-color: #e2e2e2;
  border-right-width: 0;
  margin: 5px 0;
}

.popper[x-placement="right"] .popper-arrow {
  left: -5px;
  top: calc(50% - 5px);
  border-right-color: #e2e2e2;
  border-left-width: 0;
  margin: 5px 0;
}

.popper[x-placement="bottom-start"] .popper-arrow {
  top: -5px;
  left: calc(50% - 5px);
  border-bottom-color: #e2e2e2;
  border-top-width: 0;
  margin: 0 5px;
}

/*.popper[x-placement="right-end"] .popper-arrow {
  left: -5px;
  top: 5px;
  border-right-color: #eee;
  border-left-width: 0;
  margin: 5px 0;
}*/

.popper .equation-editor {
  position: relative;
}

.popper .equation-editor-info {
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  bottom: 6px;
  color: #6e6e6e;
  display: inline-flex;
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  right: 6px;
  text-decoration: none;
  width: 16px;
  z-index: 2;
}

.popper .equation-editor-info:hover {
  opacity: 1;
}

.popper .CodeMirror {
  border: 1px solid #e2e2e2;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  height: auto;
  min-height: 4em;
  min-width: 500px;
}

.popper .CodeMirror-scroll {
  max-height: 400px;
}

.popper .CodeMirror-placeholder {
  color: #999 !important;
}

.popper .menu {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  font-size: 14px;
  overflow: hidden;
}

.popper .menu .menu-section {
  padding: 4px 0;
}

.popper .menu .menu-section:not(:last-child) {
  border-bottom: 1px solid #e2e2e2;
}

.popper .menu-item {
  cursor: pointer;
  padding: 8px 16px;
}

.popper .menu-item:hover {
  background: #f5fbfc;
}

.popper .citation-editor,
.popper .cross-reference-editor {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  height: auto;
}

.popper .conflict-dropdown {
  background: #fff;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  border: 1px solid #e2e2e2;
  border-radius: 1px;
}

.popper .conflict-option {
  padding: 8px;
  cursor: pointer;
}

.popper .conflict-option-contents {
  color: #353535;
  font-size: 16px;
  line-height: 1.5;
}

.popper .conflict-option:hover {
  background: #dcefff;
}

.popper .conflict-option-label {
  color: #0b6bb8;
  font-size: 12px;
  margin-bottom: 4px;
}

.popper .sync-warning {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  color: #353535;
  padding: 0 12px;
  width: 250px;
}

.popper .link-editor {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  height: auto;
}

.popper .citation-editor {
  width: 600px;
}

.popper .cross-reference-editor,
.popper .equation-editor,
.popper .link-editor {
  min-width: 500px;
  max-width: 800px;
}

@media (max-width: 800px) {
  .popper .citation-editor,
  .popper .cross-reference-editor,
  .popper .equation-editor,
  .popper .link-editor {
    min-width: 90%;
    max-width: 90%;
  }
}

.popper .footnote-editor {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  height: auto;
  width: 600px;
}
